


<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
       

    <title>Generate report</title>
</head>

  <body>

    {% include 'includes/_navbar.html' %}

    <main role="main" class="container">
      <div class="container">
        <div class="starter-template">
          <hr style="padding-top: 100px;">
         
            <h1>SS</h1>
        <form method="POST" action="runscreens">
           <!-- Build your select: -->
           <select name = "screenselector" class="selectpicker" multiple data-live-search="true">
            {% for row in row_data %}
            <option name="{{row}}" value="{{row}}"> {{row}} </option>
            {% endfor %}
        </select>
          
            <button name ="submit_button" value="create" type="submit" class="btn btn-primary">Generate Report </button>

        </form>
          
               
                <!-- Initialize the plugin: -->
        <script type="text/javascript">
            $('select').selectpicker();
        
        </script>
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            
          

        </div>
      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>
</html>

